.table_payment {
    font-family: Arial, Helvetica, sans-serif;
    width: 91%;
    margin-left: 90px; 
  }

  .table_payment td , th {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 10px;
  }

.th_payment {
    text-align: center;
    background-color: rgba(176, 176, 176, 0.309);
    color: white;
    transition: 0.5s;
  }
  
  .table_payment th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 139, 0.262);
    color: white;
  }