.container {
    background: url(../../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.home {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
}