.Card_bg{
    border: 5px solid var( --clr-bg);
    /* background-color: rgba(128, 128, 128, 0.521); */
    background-image: linear-gradient(180deg, rgba(255, 89, 0, 0.418), rgba(0, 81, 255, 0.253));
    width: 350px;
    height: 485px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    border-radius: 10%;
    box-sizing: border-box;
    margin-bottom: 5em;
   

}

.Card_a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #fff;
}

.Card_bg_li{
    list-style: none;
    font-family: 'Oswald', sans-serif;
}

.bg-ul img{
    border-radius: 10%;
    margin-left: 10px;
}


