.bg_div{
    display: block;
}

.bg_div1{
    display: flex;
    justify-content: center;
}

.line{
    width: 81%;
    height: 0.5rem;
    background-color: rgba(128, 128, 128, 0.678);
    margin-top: 3em;
    margin-bottom: 3em;
    left: 50%;
    border-radius: 50%;
    transform: translate(12%);
}

.bg_div1 select, .input_filter {
    width: 180px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-left: 2em;
    padding: 0 5px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px ;
    cursor: pointer;
    
}
    
@media (max-width:425px) {
 .bg_div1{
    display: contents;
 }
 .bg_div1 select{
    margin-bottom: 5px;
 }
 .input_filter{
    width: 168px;
    margin-left: 30px;
 }
}

@media(max-width:375px){
    .bg_div1 select{
        margin-left: 5px;
     }
     .input_filter{
        width: 168px;
        margin-left: 5px;
     }
}



