.container{
    /* display: contents; */
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: space-evenly;
    gap: 10px;
    margin-right: 5%;
}

@media  all and (max-width: 1592px){
    .container{
        display: grid;
        grid-template-columns: 5% 5% 5%;
        gap: 5px 150px;
        margin-right: 300px;
    }
}

@media all and (max-width: 1330px){
    .container{
        display: grid;
        grid-template-columns: 50px 50px;
        gap: 5px 100px;
        margin-right: 300px;
    }
}

@media all and (max-width:805px){
    .container{
        display: grid;
        grid-template-columns: 50px;
        gap: 5px;
        margin-right: 300px;
    }
}