.container{
    /* display: contents; */
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: space-evenly;
    gap: 10px;
    margin-right: 5%;
}
.div1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-right: -65px;
    padding-bottom: 25px;
    
}
.divdeprueba{
    position: absolute;
    left: 0;
    top:50px;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;

}

.divdeprueba h1{
   font-size: 32px;
   font-weight: 700;
   color: #fff;
   margin: 0 0 20px;
   transform: translateY(30px);
   opacity: 0;
   transition: all 0.3s ease-out;
}
.divdeprueba a{
    color: #fff;
    background: #34aff3;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}


.divhover{
    width: 650px;
    background:radial-gradient(#111 50% #000 100%);
    overflow: hidden;
    position: relative;
}

 img{
    width: 500px;
    height: 300px;
 }
.divhover img{
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.divhover:hover img{
    transform: scale(1.5) translateY(-20px);
    opacity: 0.3;
    cursor: pointer;
}

.divhover:hover .divdeprueba h1{
    opacity: 1;
    transform: translateY(0);
}
.divhover:hover .divdeprueba a{
    opacity: 1;
    transform: translateY(0);
}


 /* img{
    max-width: 100%;
    display: block;
}

img:hover{
    background-color: blue;
    z-index: 1;
    cursor: pointer;
} */


@media  all and (max-width: 1592px){
    .container{
        display: grid;
        grid-template-columns: 5% 5% 5%;
        gap: 5px 150px;
        margin-right: 300px;
    }
}

@media all and (max-width: 1330px){
    .container{
        display: grid;
        grid-template-columns: 50px 50px;
        gap: 5px 100px;
        margin-right: 300px;
    }
}

@media all and (max-width:805px){
    .container{
        display: grid;
        grid-template-columns: 50px;
        gap: 5px;
        margin-right: 300px;
    }
}