.table_config {
    font-family: Arial, Helvetica, sans-serif;
    width: 99%;
    margin-left: 9px; 
    margin-right: 1px;
  }

  .table_title{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: white;
  }
  .table_title_style{
    border: 5px solid gray;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.126);
  }
  
  .table_config td , th {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 10px;
  }

  .buttom {
    text-decoration: none;
  }
  .table_link {
    text-decoration: none;
    margin-top: 50px;
    margin-left: 10px;
    float: left;
  }
  .table_link_style {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 4px;
    background-color: rgba(255, 123, 0, 0.384);
    border-radius: 10%;
  }
  .buttom_style_left {
    color: white;
    background-color: rgba(9, 0, 75, 0.4);
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
  }
  .buttom_style_left:hover {
    color: white;
    background-color: darkblue;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }

  .buttom_style_right {
    color: white;
    margin-left: 5px;
    padding: 5px;
    background-color: rgba(139, 0, 0, 0.319);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
  }
  .buttom_style_right:hover {
    color: white;
    margin-left: 5px;
    padding: 5px;
    background-color: darkred;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  .th_config {
    text-align: center;
    background-color: rgba(176, 176, 176, 0.309);
    color: white;
    transition: 0.5s;
  }
  
  .table_config th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 139, 0.262);
    color: white;
  }