.text_alert {
    color: white;
    text-align: center;
}

.deleteFav {
    background-color: rgb(197, 87, 87);
    position: relative;
    left: 305px;
    top: 10px;
    width: 100%;
    /* padding: 15px; */
    text-align: center;
    color: #fff;

}

