.cartItem {
	height: 80px;
	background-color: #3a3a3a;

	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.cartItem img {
	height: 65px;
	border-radius: 5px;
}

.dataContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 15px 0;
}
.left {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left p {
	font-weight: bold;
	font-size: 13px;
}

.left .buttons {
	display: flex;
	gap: 5px;
}
.left button {
	border: none;
	cursor: pointer;
	font-size: 12px;
	padding: 3px 5px;
	border-radius: 5px;
	font-weight: bold;
	color: #222222;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.right div {
	background-color: #fb3939;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
}

.rigth p {
	font-weight: bold;
}
