.productsContainer{
    display: flex;
    justify-content: center;
}

.ticketcontainer{
    width: 500px;
}
.total{
    color:#fff;
    font-size: 2.5rem;
}

.container_button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_button p{
    color: #fff;
    font-size: 2rem;
}
.container_button button{
    width: 350px;
    background: #1746ae98;
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 7px 13px 37px #000;
    transition: all 0.3s ease-out;
}

.container_button button:hover{
    transform: scale(1.2);
}

@media (max-width:425px){
    .ticketcontainer{
        width: 400px;
    }
}