.cards-event-organization {
    margin-left: 2px;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 5px;
    display: grid;
  }

  .card-organization-event {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.143);
    border-radius: 15px;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-bottom: 25px;
    padding: 10px;
  }
  
  .button-event-organization {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .legend-event-organization {
    background-color: rgba(103, 103, 103, 0.526);
      color: white;
      padding: 5px 10px;
      border: 1px solid rgba(255, 255, 255, 0.62);
      border-radius: 5px;
  }
  
  .fieldset-event-organization  {
    border-color: rgba(255, 255, 255, 0.62);
    border: 9px groove (internal value);
    border-radius: 7px;
  }

  .btn-event-organization {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-event-organization:hover {
    background-color: #3e8e41;
    color: white;
  }