.table_users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table_users td , th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .th_users {
    background-color: grey;
    color: white;
    transition: 0.5s;
  }
  
  .table_users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkblue;
    color: white;
  }